@media only screen and (min-width:600px) { 
    
body {
    padding-left: 10%;
    font-family: ;
    margin: 0;
    font-size: 1em;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    font-style: normal;
   
}

img {
    max-width: 100%;
    height: auto;
}

.rivivali img {
    max-width: 100%;
    height: auto;
}


.rivivali2 img {
    max-width: 100%;
    height: auto;
}

/* Rivivali4 osion kuvat */
.rivivali4 img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 3em;
}

h5 {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5em;
    
}

.rivivali {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 6%;
}

.rivivali2 {
    margin-top: 22%;
    margin-bottom: 15%;
}

.rivivali3 {
    margin-top: 6%;
    margin-bottom: 6%;
}

.rivivali4 {
    margin-bottom: 6%;
}

.alvar {
float: right;

}

.skanditeksti {
    margin-right: 4%;
}

.alvarteksti {
    text-align: justify;
    padding-right: 10%;
}

}