body {
    padding-left: 6%;
    font-family: ;
    margin: 0;
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}